{{> header }}
{{> navbar }}

<main class="container">
    <div class="mainbar"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <img src="https://cdn-icons-png.flaticon.com/512/7052/7052015.png" alt="" style="width: 30px">
                        Lịch Sử Chuyển Tiền
                    </h3>
                    <div class="card-options">
                        <form action="" method="get" id="formPage">
                            <div class="input-group">
                                <select name="perPage" class="form-control form-control-sm"
                                    onchange="$('#formPage').submit();">
                                    {{#select perPage}}
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    {{/select}}
                                </select>
                                <span class="input-group-btn ml-2">
                                    <button type="button" class="btn btn-sm btn-danger remove-all">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="" method="get">
                        <div class="form-group">
                            <div class="row gutters-xs">
                                <div class="col">
                                    <input type="text" name="search" class="form-control" value="{{ search }}"
                                        placeholder="Nhập nội dung tìm kiếm....">
                                </div>
                                <span class="col-auto">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <a href="..{{ originalUrl.pathname }}" class="btn btn-light text-danger">
                                        <i class="fas fa-times-circle"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive mb-3">
                        <table
                            class="table card-table table-vcenter text-nowrap table-bordered table-striped text-center">
                            <thead class="badge-primary text-white">
                                <tr>
                                    <th class="text-white">Mã Giao Dịch</th>
                                    <th class="text-white">Số Điện Thoại</th>
                                    <th class="text-white">Người Nhận</th>
                                    <th class="text-white">Trước GD</th>
                                    <th class="text-white">Số Tiền</th>
                                    <th class="text-white">Sau GD</th>
                                    <th class="text-white">Nội Dung</th>
                                    <th class="text-white">Thời Gian</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each history}}
                                <tr>
                                    <td><span class="badge badge-info">{{ this.transId }}</span></td>
                                    <td>{{ this.phone }}</td>
                                    <td>{{ this.receiver }}</td>
                                    <td>{{ numberFormat this.firstMoney }}đ</td>
                                    <td>{{ numberFormat this.amount }}đ</td>
                                    <td>{{ numberFormat this.lastMoney }}đ</td>
                                    <td><textarea class="form-control">{{ this.comment }}</textarea></td>
                                    <td>{{ formatDate this.updatedAt 'YYYY-MM-DD HH:mm:ss' }}</td>
                                    <td>
                                        <span class="badge badge-danger remove hand" data-id="{{ this._id }}"><i
                                                class="fas fa-trash"></i></span>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="12">
                                        <div class="text-center">
                                            <img src="../assets/images/photos/404.png">
                                            <p class="font-weight-bold">Không tìm thấy dữ liệu...</p>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3">
                        <ul class="pagination-container">
                            {{#paginate pagination type="previous"}}
                            <li {{#if disabled}}class="page-item page-prev disabled" {{/if}}>
                                <a class="page-link"
                                    href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}">Prev</a>
                            </li>
                            {{/paginate}}
                            {{#paginate pagination type="middle" limit=pagination.limit}}
                            <li {{#if active}}class="page-item active" {{/if}}>
                                <a class="page-link"
                                    href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}">{{n}}</a>
                            </li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                            <li {{#if disabled}}class="page-item page-next disabled" {{/if}}>
                                <a class="page-link"
                                    href="{{ baseURL }}?{{#if query }}{{ query }}&page={{n}}{{else}}page={{n}}{{/if}}">Next</a>
                            </li>
                            {{/paginate}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer }}
<script type="text/javascript">
    $(document).ready(function () {
        $('body').on('click', '.remove', function (e) {
            let _this = $(this);
            let id = _this.data('id');
            Swal.fire({
                title: 'Bạn chắc chắn ?',
                text: "Bạn muốn xóa #" + id,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#868e96',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '../adminPanel/history-transfer/' + id,
                        method: 'DELETE',
                        dataType: 'json',
                        beforeSend: () => {
                            _this.prop('disabled', true);
                            _this.html('<i class="fas fa-spinner fa-spin" aria-hidden="true"></i>');
                        },
                        success: (res) => {
                            _this.prop('disabled', false);
                            _this.html('<i class="fas fa-trash"></i>');
                            !res.success ? Swal.fire('Thông báo', res.message, 'error') : Swal.fire('Thông báo', res.message, 'success') && _this.parent().parent().remove();
                        }
                    })
                }
            })
        })

        $('body').on('click', '.remove-all', function (e) {
            let _this = $(this);
            let id = _this.data('id');
            Swal.fire({
                title: 'Bạn chắc chắn ?',
                text: "Bạn muốn xóa tất cả ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#868e96',
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '../adminPanel/history-transfer/all',
                        method: 'DELETE',
                        dataType: 'json',
                        beforeSend: () => {
                            _this.prop('disabled', true);
                            _this.html('<i class="fas fa-spinner fa-spin" aria-hidden="true"></i>');
                        },
                        success: (res) => {
                            _this.prop('disabled', false);
                            _this.html('<i class="fas fa-trash"></i>');
                            !res.success ? Swal.fire('Thông báo', res.message, 'error') : Swal.fire('Thông báo', res.message, 'success') && setTimeout(() => window.location.reload(), 1500);
                        }
                    })
                }
            })
        })
    })

</script>